@model JslWeb.Models.Viagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtHrViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtHrViagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotoristaId)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-controller="Motoristas" asp-route-id="@Model.MotoristaId">@Html.DisplayFor(model => model.MotoristaId)</a>
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-6">
        @Html.ActionLink("Alterar", "FormView", new { id = Model.Id }, new { @class = "btn btn-primary w-100"})
    </div>
    <div class="col-6">
        <a class="btn btn-secondary w-100" asp-action="Index">Voltar à Lista</a>
    </div>
</div>
