@model IEnumerable<JslWeb.Models.Motorista>

@{
    ViewData["Title"] = "Index";
}

<h1>Motoristas</h1>

<p>
    <a asp-action="FormView" class="btn btn-success">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.ActionLink("Alterar" , "FormView", new { id=item.Id }, new { @class="btn btn-primary"})
                @Html.ActionLink("Detalhes", "Details" , new { id=item.Id }, new { @class="btn btn-primary"})
                @*@Html.ActionLink("Deletar" , "Delete" , new { id=item.Id }, new { @class="btn btn-danger" })*@
                <a asp-route-id="@item.Id" asp-action="Delete" class="btn btn-danger" onclick="return confirm('Confirma a deleção deste registro?')">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
